src/main/mule/timezoneapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4819fd12-4e43-4a41-9284-8f368436ef5f">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5f16beb4-caf7-4c47-a9a7-8a22e8da3f67">
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="timezoneapiFlow" doc:id="ce6711ea-e8da-4a8f-90e8-8feb8b46e49f" >
		<http:listener doc:name="Listener" doc:id="f101f629-0a5f-4346-9deb-52a2918d25cc" config-ref="HTTP_Listener_config" path="/timezoneapi/{region}/{city}"/>
		<set-variable value="#[attributes.uriParams.region]" doc:name="Set Variable" doc:id="cae06b28-9939-4e5f-9e54-a0705400ebe6" variableName="region"/>
		<set-variable value="#[attributes.uriParams.city]" doc:name="Set Variable" doc:id="bafad60c-9f1a-4bcc-93c8-6501f9b0c9a5" variableName="city"/>
		<http:request method="GET" doc:name="Request" doc:id="d03419f8-b638-43b1-a5a1-e5aa579c0159" config-ref="HTTP_Request_configuration" path="/api/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[{
	region:vars.region,
	city:vars.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
